<div class="header-element" style="flex: 2">
	<div class="header-element-h">
		<div class="header-element-h-content highlight-text">SysDev Interface</div>
	</div>
</div>
<div class="header-element" ng-include="'components/header/query.html'"></div>
<div class="header-element">
	<div class="header-element-h cursor-pointer" ng-click="removeElements()">
		<div class="header-element-h-content">Clear</div>
	</div>
</div>
<div class="header-element" style="flex: 4" ng-include="'components/header/information.html'"></div>
